<section class="section">
  <h2>Contact</h2>
  <p>Email: <a class="contact-anchor" href="mailto:ncorvi@dc.uba.ar" target="_blank">ncorvi@dc.uba.ar </a></p>
  <p>LinkedIn: <a class="contact-anchor" href="https://www.linkedin.com/in/nicolas-corvi-909b96b0" target="_blank">Nicolas Corvi</a></p>
  <div class="cvs-container">
  <p>My CV in PDF:
    <button class="cv-button" mat-raised-button (click)="englishCV()">English</button>
    <button class="cv-button" mat-raised-button (click)="spanishCV()">Spanish</button>
    <button class="cv-button" mat-raised-button (click)="italianCV()">Italian</button>
  </p>
  </div>
</section>
