<section class="section">
  <div class="hero-main">
    <div class="hero-text"><h1>Fullstack Developer</h1><img src="/static/media/waving.1bae5fcfb51082b5c2b4.png"
                                                                  alt="waving_hand">
      <p>Hi, I'm Nicolas Corvi. A fullstack Spring/Angular Developer. 📍</p>
      <span>
        <a
          aria-label="linkedin" rel="noreferrer" target="_blank"
          href="https://www.linkedin.com/in/nicolas-corvi-909b96b0"><i
          class="fa-brands fa-linkedin" style="font-size:48px; color: #007bff"></i>
        </a>
        <a aria-label="github" rel="noreferrer" target="_blank"
           href="https://github.com/CorviNicolas"><i class="fa-brands fa-github" style="font-size:48px;">
           </i></a>
        <a aria-label="stackoverflow" rel="noreferrer" target="_blank"
           href="https://stackoverflow.name/nicolas-francisco-corvi"><i class="fa-brands fa-stack-overflow" style="font-size:48px; color: coral">
           </i></a>
      </span>
    </div>
    <div class="hero-img"></div>
  </div>
</section>
