<section class="section">
  <div class="about-main">
    <div class="about-text"><h1>Fullstack Developer</h1>
      <p>Hi, I'm Nicolas Corvi. A fullstack developer. <br>
        My main stack is <img ngSrc="assets/spring-icon.png" alt="Spring Boot" height="30" width="30">
        Spring Boot &
        <img ngSrc="assets/angular-icon.png" alt="Angular" height="30" width="30">
        Angular.
      </p>
      <span class="contact-icons">
        <a
          aria-label="linkedin" rel="noreferrer" target="_blank"
          href="https://www.linkedin.com/in/nicolas-corvi-909b96b0"><i
          class="fa-brands fa-linkedin" style="font-size:48px; color: #007bff"></i>
        </a>
        <a aria-label="github" rel="noreferrer" target="_blank"
           href="https://github.com/CorviNicolas"><i class="fa-brands fa-github" style="font-size:48px;">
           </i></a>
        <a aria-label="stackoverflow" rel="noreferrer" target="_blank"
           href="https://stackoverflow.name/nicolas-francisco-corvi"><i class="fa-brands fa-stack-overflow" style="font-size:48px; color: coral">
           </i></a>
      </span>
    </div>
    <div class="about-img"></div>
  </div>
</section>
