mat-toolbar
  display: flex
  justify-content: space-between
  align-items: center

nav
  display: flex
  align-items: center
  font-size: 1.7rem
  padding: 25px 40px 25px 50px

.mat-toolbar
  padding: 25px 40px 25px 50px

mat-toolbar span
  font-size: 1.7rem


a
  margin-left: 20px
