<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a routerLink="/about"><h1><b>Nicolas Corvi WebDev</b></h1></a>
    <div fxShow="true" fxHide.lt-md="true">
      <nav>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/projects">Projects</a>
        <a mat-button routerLink="/skills">Skills</a>
        <a mat-button routerLink="/contact">Contact me</a>
      </nav>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/projects">Projects</a>
        <a mat-button routerLink="/skills">Skills</a>
        <a mat-button routerLink="/contact">Contact me</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<footer>
  <p>&copy; 2023 Nicolas Francisco Corvi</p>
</footer>
