<section>
  <h2>Skills</h2>
  <mat-chip-listbox (change)="chipListChange($event)" multiple="false">
    <mat-chip-option value="All">All</mat-chip-option>
    <mat-chip-option value="{{SkillGroup.backend}}">
      <img ngSrc="assets/backend-icon.png" alt="" height="25" width="25">
      Backend
    </mat-chip-option>
    <mat-chip-option value="{{SkillGroup.frontend}}">
      <img ngSrc="assets/frontend-icon.png" alt="" height="25" width="25">
      Frontend
    </mat-chip-option>
    <mat-chip-option value="{{SkillGroup.others}}">
      <img ngSrc="assets/tools.png" alt="" height="25" width="25">
      Others
    </mat-chip-option>
  </mat-chip-listbox>
  <mat-grid-list [cols]="gridColumnQuantity" (window:resize)="onResize($event)"
                 @slideInOut>
    <ng-container *ngFor="let skill of selectedSkills">
      <mat-grid-tile>
        <img ngSrc="{{skill.icon}}" alt="{{skill.altIcon}}" height="48" width="48">
        <h6> {{skill.title}}</h6>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>

</section>
